@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto+Slab");
html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  font-family: "Raleway", "Roboto Slab", sans-serif;
  color: #000;
  background-color: #FFFF;
  width: 100%;
  height: 100%; }

h1 {
  text-transform: uppercase;
  display: inline-block; }

#logo {
  max-height: 50px; }
